body{
    font-family: Arial, sans-serif;
    background-color: #205179d5;
    margin: 0;
    padding: 0;
  }
  
  h1{
    color: #fff;
    float: left;
    margin-left: 80px;
  }
  
  span{
    color: #adff2f;
  }
  
  .navbar{
    justify-content: center;
    display: flex;
    flex-direction: row;
  }
  
  .navbar a{
    margin: 10px;
    text-decoration: none;
    color: #ff0000;
    font-size: 20px;
  }
  
  ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center; 
  }
  
  li{
    color: #fff;
    margin: 10px;
    cursor: pointer;
  }
  
  li:hover{
    color: #000;
    text-decoration: underline;
  }
  
  .content{
    color: #fff;
    margin-left: 50px;
    margin-top: 60px;
  }
  
  
  .para{
    color: #fff;
    font-size: 19px;
  }
  
  
  button{
    float: right;
    border-radius: 10px;
    padding-right: 10px;
    margin-right: 20px;
    width: 10%;
    background-color: #adff2f;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    font-weight: bold;
    transition: 1s ease-in-out;
  }
  
  .st-btn{
    background-color: transparent;
    color: #fff;
    font-weight: bold;
    float: left;
    width: 10%;
    margin-left: 300px;
  }

  button:hover{
    background: #000;
    color: #fff;
 }
  
  .white-space{
    width: 35%;
    margin-top: 80px;
    margin-left: 40px;
    background-color: #fff;
    border-radius: 25px;
    height: 50px;
    display: flex;
    justify-content: space-between;
  }
  
  .Main-image{
    width: 50%;
    height: 68%;
    float: right;
    position: absolute;
    right: 100px;
    margin-top: 20%;
    margin-left: 20%;
    border: none;
    border-radius: 16px;
  }
  
  .Main-image img{
    position: absolute;
    border: none;
    border-radius: 20px;
    width: 50.10%;
    height: 120%;
    left: 40%;
    bottom: 0;
  }
  
  .search-btn{
    border-radius: 100%;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
  }
  
  .Section-infor{
    width: 100%;
    height: 20px;
    background: #305002;
  }
  
  .infor{
    background-color: #305002;
    color: #fff;
    display: flex;
    padding: 2%;
    font-size: 30px; 
    margin-top: 80px;
  }
  
  .para-section{
    background: #305002;
    height: 5px;
  }
  
  .infor-para{
    padding: 2%;
    color: #fff;
    height: 2px;
    font-size: 19px;
    margin-bottom: 5%;
    background: #305002;
  }
  
  p{
    display: flex;
    font-size: 20px;
    align-items: center;
    justify-content:left;
  }
  
  
  #Main{
    background: #000;
    margin: 0;
    padding: 0;
    top: 100px;
    color: #fff;
  }
  
  .our-sp{
    margin-right: 30px;
  }
  
  .sp-heading{
    padding: 1%;
    font-weight: bold;
    font-size: 50px;
  }
  
  .Card-one{
    background: #305002;
    margin-top: 40px;
    border: 1px solid #000;
    border-radius: 15px;
    width: 20%;
    height: 230px;
    margin-left: 65px;
  }

  .Card-one h3{
    color: #000;
  }

  .Card-one:hover{
    background: #205179d5;
    color: #fff;
    cursor: pointer;
  
  }
  
  .Card-one,p{
    padding-left: 5px;
  }
  
  p{
    color: #fff;
    margin-top: 40px;
  }
  
  h2{
    margin-left: 30px;
    font-size: 40px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
  }
  
  .main{
    display: flex;
  }
  
  .thre{
    color: #000;
  }
  
  .Card-three{
    margin-top: 40px;
    border: 1px solid #000;
    border-radius: 15px;
    width: 20%;
    height: 230px;
    color: #fff;
    background: #305002;
    margin-left: 65px;
  }

  .Card-three:hover{
    background: #205179d5;
    color: #fff;
    cursor: pointer;
  }
  

  .Card-three,p{
    padding-left: 5px;
  }
  
  
  img{
    width: 50px;
    height: 50px;
    margin-left: 5px;
    border-radius: 100%;
  }
  
  .lab-Image img{
    width: 100%;
    height: 20%;
    border-radius: 10px;
    margin-left: 10%;
    float: left;
    margin-top: 3%;
  }
  
  .intro-{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  /* .Intro{
    margin-right: 10%;
  }
   */
  .para-two{
    margin-left: 20px;
  }
  
  .Arrow{
    color: #305002;
    font-size: 19px;
  }
  
  .Arrow:hover{
    text-decoration: underline;
    cursor: pointer;
  }
  
  .feedback{
    background: #205179d5;
    margin: 0;
    padding: 0;
    height: 500px;
  }
  
  .testmoney{
    display: flex;
    justify-content: space-between;
    padding: 3.5%;
  }
  
  .author{
    background: #000;
    border: 1px solid #fff;
    margin-top: 2%;
    border-radius: 15px;
    padding: 5px 5px;
    color: blue;
  }
  
  .author p{
    color: #fff;
  }
  
  .heading{
    margin-right: 5%;
    float: left;
  }
  
  .text{
    margin-left: 3%;
    float: left;
    font-weight: bold;
  }
  
  .future{
    margin: 0;
    padding: 0;
    color: #fff;
    background: #000;
  }

  .future h2{
    margin-right: 5%;
    right: 20%;
    float: left;
  }
  
  .future p{
    color: #fff;
    float: left;
    margin-right: 40px;
  }
  
  .future .Arrow{
    color: #205179d5;
  }
  
  
  .Future-sec{
    display: flex;
    padding: 8%;
    color: #fff;
    justify-content: space-between;
  }
  
  .future-pic{
   /* margin-right: 5%; */
   margin-top: 3%;
   margin-left: 15%;
   float: right;
   width: 80%;
  }
  
  .future-pic img{
    width: 100%;
    height: 70%;
    border: none;
    border-radius: 15px;
  }
  
  .Newsletter{
    background: #205179d5;
    padding: 5%;
    margin: 0;
    height: 100%;
    border-radius: 25px;
    margin-left: 10%;
    margin-right: 10%;
  }
  
  .Subscribe-btn{
    background: #fff;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    border: none;
    width: 20px;
    height: 20px;
    margin-top: 1%;
  }
  
  .subscribe{
    background-color: #fff;
    float: right;
    width: 90%;
    height: 40px;
    margin-right: 7%;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
  }
  
  .newsletter-H{
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    display: flex;
    justify-content: center;
    align-content: center;
  }
  
  .footer{
    background-color: #205179d5;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
  }
  
  .footer-section{
    width: 30%;
    justify-content: space-between;
  }
  
  .footer-section h3{
    margin-top: 0;
  }
  
  .footer-section p,
  .footer-section ul{
    margin: 0;
    padding: 0;
    justify-content: space-between;
  }
  
  .footer-section ul{
    list-style-type: none;
    display: grid;
    margin-right: 75%;
    justify-content: space-between;
  }
  
  .social-link{
    color: #000;
    text-decoration:none;
    justify-content: space-between;
  }
  
  .social-link:hover{
    text-transform: none;
    color: #adff2f;
  }
  
  .footer-section ul li{
    margin: 5px 0;
    justify-content: space-between;
  }
  
  .footer-section ul li a{
    color: #fff;
    text-decoration: none;
    justify-content: space-between;
  }
  
  .footer-section .social-links{
    color: #fff;
    margin-right: 10px;
    justify-content: space-between;
    text-decoration: none;
  }
  
  .map-image{
    height: auto;
    width: 86%;
    height: 210px;
    border-radius: 10px;
  }
  
  .map-image img{
    width: 200px;
    height: 200px;
    border-radius: 10px;
  }
  
  /* Responsiveness */
  
  @media (max-width: 760px) {
    h1{
        margin-left: 20px;
        font-size: 24px;
    }

    .navbar a{
        font-size: 16px;
    }

    .white-space{
        width: 90%;
        margin-left: 5%;
    }

    .Main-image{
        margin-left: 5%;
        right: 5%;
    }

    .Card-one,
    .Card-three{
        width: 90%;
        margin-left: 5%;
    }

    .future-pic{
        width: 90%;
        margin-left: 5%;
    }

    .footer{
        flex-direction: column;
        align-items: center;
    }

    .footer-section{
        width: 100%;
        margin-bottom: 20px;
    }

  }

  @media (max-width: 480px) {
    h1{
        font-size: 20px;
    }

    .navbar a{
        font-size: 14px;
    }

    .button{
        width: 30%;
        margin-right: 10px;
    }

    .Main-image img{
        width: 100%;
        height: auto;
    }

    .sp-heading{
        font-size: 30px;
    }

    .newsletter-H{
        font-size: 24px;
    }
  }
